<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eus.arreseainhize.bookjounal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookJounal"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Actividades OAuth (IMPORTANTES para Firebase Auth) -->
        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />
        <!--
                    android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|fontScale|locale|uiMode"

            - Tamaño de visualización de la app → screenSize
            - Orientación de la pantalla → orientation
            - Tamaño y grosor de la fuente (escala de fuente / font scale) → fontScale
            - Configuración regional (idioma, formato de números, etc.) → locale (en API nuevas se recomienda layoutDirection también)
            - Modo oscuro / claro → uiMode
            - Disponibilidad del teclado → keyboard y keyboardHidden
        -->
        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" />

        <!-- Meta-data para Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Actividad principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>